body {
    margin: 0;
}

main {
    height: 100vh;
    display: flex;
    text-align: center;
    background-color: hsl(212, 45%, 89%);
}

.card-qrcode {
    margin: auto;
    padding: 12px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}

.img-qrcode {
    width: 280px;
    height: 280px;
    border-radius: 10px;
}

.text {
    margin: auto;
    width: 260px;
    line-height: 20px;
    font-family: 'Montserrat', sans-serif;
}

.text-qrcode {
    font-size: 18px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
}

.text-qrcodescan {
    padding: 0 10px 0 10px;
    font-size: 13px;
    margin-top: 20px;
    color: hsl(220, 15%, 55%);
}
